.navbar-brand {
  font-size: 3em;
  line-height: 0.75em;
}

.navbar-left {
	padding: 5px;
}

/* set a max-width for horizontal fluid layout and make it centered */
.panel-fluid {
  /*margin-top: 100px;*/
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; /* or 950px */
}


.page-header {
	border-bottom-color: #2b3e50;
}


.anchor { 
	padding-top: 50px; 
}

.content-container {
    margin-top: 100px;
}


table
{
    table-layout: fixed;
    width: 100px;
}




/*
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #2b3e50
}
*/


.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.json-view {
	font-family: "Lucida Console";
    word-wrap: break-word;
    color: #00ff00;

}

.json-view .comments {
	color: #ff00ff;
}

.json-view .bool, .json-view .null, .json-view .num, .json-view .undef {
    font-weight: 700;
    color: #ffff00
}

.json-view .str {
    color: #00ffff;
}






.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    padding: 3px;
}


.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }